/* a.logo, */
/* a.nav-link {
  font-size: 18px;
  font-weight: bold;
} */

/* a.logo {
  font-size: 50px;
  display: flex;
  justify-content: center;
} */

/* img.logo {
  max-height: 75px;
} */

/* li a.nav-link:hover {
  color: white;
} */
