a.logo,
a.nav-link {
  font-size: 30px;
  font-weight: bold;
}

a.logo {
  font-size: 50px;
}

li a.nav-link:hover {
  color: white;
}

span.title {
  font-size: 100px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 10px 10px black;
  color: rgb(10, 225, 180);
}

span.sub-title {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(10, 225, 180);
  -webkit-text-stroke: 2px black;
}

.code-logo {
  width: 100px;
  height: auto;
  margin: 10px;
  padding: 10px;
  background-color: rgb(0, 180, 225);
}
