* {
  margin: 0;
  padding: 0;
  font-family: "Audiowide", sans-serif;
}

body {
  /* background-image: url("../images/web-dev-bg.jpg"); */
  background-color: rgba(0, 0, 0, 0.95);
  /* background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh; */
}

.page-height {
  min-height: 100vh;
}

/* Navbar */
.navbar-brand {
  font-size: 24px;
}

a.navbar-brand:hover {
  color: #7dcfb6;
}

a.nav-link {
  font-size: 18px;
}

@media (max-width: 575px) {
  .sidebar {
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
  }
}

.navbar {
  transition: all 0.5s;
}

.navbar-scrolled {
  background-color: black !important;
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.25);
}

.nav-link {
  position: relative;
}

.nav-link.active {
  color: #7dcfb6 !important;
}

.nav-link:hover {
  color: #7dcfb6 !important;
}

.nav-link:hover::after {
  opacity: 1;
}

.nav-link::after {
  content: "";
  opacity: 0;
  height: 2px;
  width: 100%;
  background-color: #7dcfb6;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}

/* Homepage section */
span.title {
  font-size: 100px;
  font-weight: bold;
  text-transform: uppercase;
  /* text-shadow: 10px 10px black; */
  /* color: rgb(10, 225, 180); */
  color: #f79256;
}

span.sub-title {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  /* color: rgb(10, 225, 180); */
  color: #f79256;
  /* -webkit-text-stroke: 1px black; */
  animation: 3s linear 1s slidein;
}

/* Programming language section */
/* .code-icon {
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
} */

h3.subheading {
  color: #f79256;
}

/* Glowing CSS */
.icon {
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  border: 1px solid transparent;
  -webkit-transition: border 1s linear, box-shadow 1s linear;
  -moz-transition: border 1s linear, box-shadow 1s linear;
  transition: border 1s linear, box-shadow 1s linear;
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 10px;
}

.icon.active {
  -webkit-box-shadow: 0 0 40px orange;
  -moz-box-shadow: 0 0 40px orange;
  box-shadow: 0 0 40px orange;
}

/* Left side animation */
div.hidden-l,
h3.hidden-l {
  opacity: 0;
  transition: all 1s;
  transform: translateX(-100%);
  filter: blur(5px);
}

div.show-l,
h3.show-l {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/* Right side animation */
div.hidden-r,
h3.hidden-r {
  opacity: 0;
  transition: all 1s;
  transform: translateX(100%);
  filter: blur(5px);
}

div.show-r,
h3.show-r {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.icon:nth-child(2) {
  transition-delay: 100ms;
}

.icon:nth-child(3) {
  transition-delay: 200ms;
}

.icon:nth-child(4) {
  transition-delay: 300ms;
}

.icon:nth-child(5) {
  transition-delay: 400ms;
}

.icon:nth-child(6) {
  transition-delay: 500ms;
}

.icon:nth-child(7) {
  transition-delay: 600ms;
}

.icon:nth-child(8) {
  transition-delay: 700ms;
}

/* Contact form background */
.form-box {
  background-color: black;
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.25);
}
